
@{
    ViewData["Title"] = "listCustomers";
}

<!-- Template Main CSS File -->

<link href="assets/css/pagePrivacy.css" rel="stylesheet">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a asp-area="" asp-controller="Home" asp-action="Index">DEUCeng Dragon</a></h1>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="book-a-table-btn scrollto d-none d-lg-flex">Home</a>

    </div>
</header><!-- End Header -->

<div>
    <main id="main">
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2><a asp-area="" asp-controller="Home" asp-action="adminMenu">Admin Panel</a></h2>
                </div>
            </div>
        </section>
        <section id="book-a-table" class="book-a-table">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>ADMIN</h2>
                    <p>Menu</p>
                </div>
                <table>
                    <tr>
                        <td>Id &nbsp&nbsp&nbsp&nbsp</td>
                        <td>First Name &nbsp&nbsp&nbsp&nbsp</td>
                        <td>Email &nbsp&nbsp&nbsp&nbsp</td>
                        <td>Phone no &nbsp&nbsp&nbsp&nbsp</td>
                        <td>Address &nbsp&nbsp&nbsp&nbsp</td>
                        <td>Message &nbsp&nbsp&nbsp&nbsp</td>
                    </tr>
                    @{
                        if (Model != null)
                        {
                            foreach (var Data in Model)
                            {
                                
                                <tr>
                                    <div >
                                    <td>
                                        @Data.CustomerId &nbsp&nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        @Data.CustomerName &nbsp @Data.CustomerLastName &nbsp&nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        @Data.CustomerEmail &nbsp&nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        @Data.CustomerPhoneNo &nbsp&nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        @Data.CustomerAddress &nbsp&nbsp&nbsp&nbsp
                                    </td>
                                    <td>
                                        @Data.CustomerMessage &nbsp&nbsp&nbsp&nbsp
                                    </td>
                                    
                        </div>
                        </tr>
                    }
                }
                    }


                    </table>

        </div>
        </section><!-- End Book A Table Section -->
        </main>
        </div>
